<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gooalgene.labtest.dao.LinksMapper">
    <delete id="deleteById" parameterType="integer">
        delete from homepage_links where hl_id=#{hl_id}
    </delete>
    <insert id="insertLink" parameterType="com.gooalgene.labtest.entity.Homepage_links">
        insert into homepage_links values (null,#{hl_text},#{hl_url})
    </insert>
    <update id="updateLink" parameterType="com.gooalgene.labtest.entity.Homepage_links">
        update homepage_links set hl_text = #{hl_text},hl_url = #{hl_url}  WHERE hl_id = #{hl_id}
    </update>
    <select id="findLinks" resultType="com.gooalgene.labtest.entity.Homepage_links">
        select * from homepage_links order by hl_id desc
    </select>
    <select id="findById" parameterType="integer" resultType="com.gooalgene.labtest.entity.Homepage_links">
        select * from homepage_links where hl_id = #{hl_id}
    </select>
</mapper>