<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gooalgene.labtest.dao.UploadPictureMapper">
    <select id="findHeadline" resultType="com.gooalgene.labtest.entity.News_List">
        select * from news_list order by nl_date
    </select>
    <select id="findAcademic" resultType="com.gooalgene.labtest.entity.News_List">
        select * from news_list order by nl_date
    </select>
<!--    <delete id="deleteNews" parameterType="integer">-->
<!--        delete from news_list where nl_id=#{nl_id}-->
<!--    </delete>-->
<!--    <insert id="addNews" parameterType="com.gooalgene.labtest.entity.News_List">-->
<!--        insert  into  news_list values (-->
<!--            null,#{nl_title},#{nl_content},#{nl_date},#{nl_graph},#{nl_type_id},#{nl_subType_id},#{nl_state},#{nl_url}-->
<!--        )-->
<!--        </insert>-->
<!--    <update id="updateNews">-->
<!--        update news_list set nl_state = #{nl_state},nl_content = #{nl_content},nl_title = #{nl_title},nl_type_id = #{nl_type_id},nl_subType_id = #{nl_subType_id},nl_graph=#{nl_graph}, nl_date=#{nl_date},nl_url = #{nl_url} WHERE nl_id = #{nl_id}-->
<!--    </update>-->
</mapper>